/*Import fonts*/
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic|Merriweather+Sans:400,300,400italic,300italic|Open+Sans:400,700,600,300,400italic,300italic,600italic);
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url("http://apps.northbynorthwestern.com/hungry/styles/22738433.main.css");

/*Set default font*/
html, body, h1, h2, h3, h4, h5, h6, p{
    font-family: "PT Sans", sans-serif;
}

/*Declare global variables*/
:root {
  --main-color: #fccb0a;
  --complement-color: #46616f;
}

/*Set text size for small screens*/
@media screen and (max-width: 350px){
    h1{
        font-size: 3em !important;
    }
    h2{
        font-size: 1.5em !important;
    }
    footer.related-articles{
        font-size: 1em;
        margin: 0 auto;
    }
    .related-article-item h1.head{
        font-size: 2em !important;
    }
    .related-article-item h2.deck{
        font-size: 1.2em !important;
    }
}

figure{
    text-align: center;
}
figure img{
    width: auto;
}

figcaption .photo-byline{
    font-family: "Proxima-Nova", Helvetica, sans-serif;
    font-size: 0.95em;
    padding-right: 5px;
    padding-top: 3px;
}
figcaption .photo-byline:before{
  content: '\a';
  white-space: pre;
}

@media screen and (max-width: 915px){
    figure figcaption{
        text-align: center;
    }
}

main{
    height: auto;
}

ul, ol{
    list-style-position: inside;
}

/******************/
/******************/
/*masthead*/
/******************/
/******************/
.masthead{
    position: fixed;
    top: -3px;
    transition: top 0.3s ease 0.1s;
    z-index: 1000000 !important;
    height: 50px;
    background-color: #D1D2D4;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.masthead.purple{
    background-color: #D1D2D4;
    font-family: "PT Sans", sans-serif;
}

@media print{
    .masthead{
        position: static;
    }
}

.masthead h1{
    font-size: 1.7em;
}

.masthead h2{
    font-size: 1.3em;
}

.masthead-up {
  top: -150px;
}

@media screen and (max-width: 750px){
    .heads{
        flex-flow: column;
        height: auto;
        min-height: 100px;
    }
    .head{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    #head1{
        min-height: 40px;
        margin: auto;
    }
    #head1 img{
        height: 60px !important;
    }
    #head2{
        font-size: 1.5em;
        min-height: 40px;
        min-width: 0;
        width: 100%;
        margin-bottom: 0;
    }
    .mag-split{
        display: none;
    }
    #head3{
        font-size: 1em;
        min-height: 30px;
    }
    .masthead{
        margin-bottom: 8px;
    }

    .section-editors{
        min-height: 50px;
    }

}

/* masthead nav for section stories */

.masthead .logo{
    height: 100%;
    padding-top: 2px;
    display: inline;
}
.masthead nav.section-nav{
    display: none;
    float: right;
    margin-right: 8px;
    margin-top: 3px;
}

h1.hed{
    font-family: sans-serif;
    font-size: 1.9em;
    margin-bottom: 0;
    margin-bottom: 10px;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

h2.dek{
    font-family: "Cabin", sans-serif;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 600;
}

/*(11/30/17)*/
/*menu*/
.snip1189 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.snip1189 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1189 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}
.snip1189 a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  text-decoration: none;
}
.snip1189 a:before,
.snip1189 a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.snip1189 a:before {
  left: 0;
  top: 0;
  border-left: 3px solid rgba(101, 114, 108, 1);
  border-top: 3px solid rgba(101, 114, 108, 1);
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.snip1189 a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid rgba(101, 114, 108, 1);
  border-bottom: 3px solid rgba(101, 114, 108, 1);
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.snip1189 a:hover,
.snip1189 .current a {
  color: black;
}
.snip1189 a:hover:before,
.snip1189 .current a:before,
.snip1189 a:hover:after,
.snip1189 .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

/*(11/30/17)*/

/*(5/29/17) NEW VERSION content nav for features articles */
ul.long-nav {
    list-style-type: none;
    margin: 0;
    padding-left: 8px;
    margin-top: 70px;
    top: 0;
    position: fixed;
}

li.long-nav-link {
    margin-bottom: 0px;
    font-family: "PT Sans", sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    display: inline-block;
}

li.long-nav-link a {
    color: grey;
    text-decoration-line: 1px;
    /*background-color: white;*/
    padding: 2px;
    border-radius: 50%;
}


/* Captions and bylines */

.byline{
    font-weight: 400;
    font-size: 1em;
    font-family: "Merriweather", serif;
}

/*
figure figcaption, .caption{
    color: #999999;
}*/

div.figure-container {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -20px;
    margin-right: -20px;
}

figure {
    margin-left: 0;
}

@media screen and (max-width: 800px) {
    figure {
        margin-left: 0px;
        margin-right: 0px;
    }
}

figcaption {
    font-weight: 300;
    font-size: .95em;
    font-family: "Montserrat", serif;
    margin-top: .2em;
    color: #424242;
}

/*image credit*/
h5.image-credit {
    font-size: 0.8em;
    font-family: "Raleway", serif;
    font-weight: 400;
    text-transform: none;
    margin: 0;
    text-align: right;
}

h5.image-credit a {
    text-decoration: underline;
    color: #8376B6;
    /*color: make same color as masthead in Sass*/
}

h5.image-credit a:hover {
    text-decoration: none;
    color: #50a6ff;
}

.photo-byline{
    font-size: 0.75em;
    font-family: Merriweather, serif;
    font-weight: 300;
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 10px;
}


main article header.article-meta{
    position: relative;
}

main article header.article-meta>.photo-byline{
    clear: both;
    color: #a4a4a4;
    text-align: right;
    position: absolute;
    right: 10px;
    bottom: -2.5em;
    text-shadow: none;
    width: 95%;
    height: auto;
}


/* line-before, to put a line, before, like, the thing */

.line-before::before{
    content: "";
    border-bottom: 5px solid #D1D2D4;
    display: block;
    width: 25%;
    min-width: 200px;
    margin: 0 auto 20px;
}

/* the blackboard, with all the content text */

.blackboard{
    width: 85%;
    max-width: 800px;
    margin: 0 auto;
    color: black;
}

.blackboard p {
    font-size: 0.95em;
    line-height: 2.2em;
    margin-bottom: 1em;
    font-family: "Merriweather", serif;
    font-weight: 400;
}

.blackboard p a:hover {
    color: #8376B6;
}

.blackboard h3{
    margin-top: 20px;
    padding: 20px 0 15px;
    margin-bottom: 5px;
    font-size: 1.4em;
    color: black;
}

.blackboard hr{
    margin: 40px auto;
}
/* dropcap */

.blackboard h3+p:not(.nodrop):first-letter{
    float: left;
    color: #D1D2D4;
    font-size: 4em;
    line-height: 50px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: Georgia;
}

@media print{
    .blackboard h3+p:first-letter, .blackboard p.lead:first-letter{
        font-size: 1em;
        padding: 0;
        color: inherit;
        float: none;
    }

}

/* LEAD */

.blackboard p.lead{
    font-size: 1.2em;
    width: 120%;
    margin-left: -10%;
    line-height: 1.8em;
}

@media screen and (max-width: 1200px){
    .blackboard p.lead{
        width: 100%;
        margin-left: 0;
    }
}

/* PULLQUOTE */

.blackboard .pullquote {
    margin: 10px 30px;
    text-align: center;
    border-top: 3px solid #D1D2D4;
    border-bottom: 3px solid #D1D2D4;
}

.blackboard .pullquote *{
    font-family: "Open Sans", sans-serif;
    font-size: 1.7em;
    line-height: 1.6em;
    margin-bottom: 0;
}

.blackboard #attrib {
    font-weight: lighter;
    font-size: 1.3em;
}

.blackboard .pullquote-right{
    float: right;
    padding-left: 20px;
    margin-left: 40px;
    text-align: left;
    border-left: 3px solid #D1D2D4;
    margin-right: -100px;
    width: 50%;
}

mark {
    background-color: rgba(209, 210, 212, .4);
}

.blackboard .pullquote-left{
    float: left;
    margin-right: 40px;
    padding-right: 20px;
    text-align: right;
    border-right: 3px solid #D1D2D4;
    margin-left: -100px;
    width: 50%;
}

.pullquote-left p, .pullquote-right p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.7em;
    line-height: 1.6em;
    margin-bottom: 0;
}

/* when pullquotes become too much */
@media screen and (max-width: 1200px){
    .blackboard .pullquote{
        width: 100%;
        margin: 20px 10px;
        text-align: center;
        padding: 20px 0;
    }

    .blackboard .pullquote *{
        font-size: 1.3em;
    }

    .blackboard .pullquote-right, .blackboard .pullquote-left {
        float: none;
        border: none;
        border-top: 3px solid #D1D2D4;
        border-bottom: 3px solid #D1D2D4;
        margin: 40px 0 40px 0;
        width: 100%;
        text-align: center;
    }

    .pullquote-right, .pullquote-left p {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 1.3em;
    }

    .blackboard #attrib {
        font-size: 1em;
    }
}

@media print {
    .blackboard .pullquote{
        display: none;
    }
}


/* sidebars */
.blackboard .sidebar{
    width: 300px;
    margin: 10px 15px;
    background-color: #D1D2D4;
    padding-bottom: 30px;
    text-align: center;
}

.blackboard .sidebar *{
    margin-bottom: 0;
}

.blackboard .sidebar-right{
    float: right;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    border-left: 3px solid #D1D2D4;
    border-right: 3px solid #D1D2D4;
    margin-right: -100px;
}

.blackboard .sidebar-left{
    float: left;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    border-left: 3px solid #D1D2D4;
    border-right: 3px solid #D1D2D4;
    margin-left: -100px;
}

/* when sidebars become too much */
(@media screen and (max-width: 1200px)) or @media print {
    .blackboard .sidebar{
        width: 100%;
        margin: 10px auto;
        text-align: center;
        padding: 20px 0;
    }
    .blackboard .sidebar h3{
        margin-top: 0;
    }
    .blackboard .sidebar-right, .blackboard .sidebar-left{
        float: none;
        border: none;
        border-top: 3px solid #D1D2D4;
        border-bottom: 3px solid #D1D2D4;
    }
}

/* Embeds and other things that are full flow */

.blackboard .full-flow{
    text-align: center;
    border-top: 8px #D1D2D4 solid;
    border-bottom: 8px #D1D2D4 solid;
    padding: 30px 0;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: -20px;
    margin-left: -20px;
}

.blackboard .full-flow .figure-item{
    width: 120%;
    min-height: 700px;
    margin-left: -10%;
}

.blackboard .full-flow img.figure-item{
    max-width: 120%;
    position: relative;
    left: -10%;
}


.blackboard .full-flow.embed figcaption{
    margin-right: -10%;
}

/* when things start screwing up b/c too big */

@media screen and (max-width: 1200px){
    .blackboard .full-flow .figure-item{
        width: 100%;
        min-height: 60vh;
        height: auto;
        margin: 0 auto;
    }
    .blackboard .full-flow img.figure-item{
        left: 0;
        min-height: 0;
    }
    .blackboard .full-flow.embed figcaption{
        margin-right: 0;
    }
}

@media print{
    .blackboard figure{
        display: none;
    }
}

/* images and other things that aren't full-flow, but pulled */

.blackboard .image{
    width: 500px;
    height: 100%;
    margin: 10px 30px;
}

.blackboard .image-right{
    float: right;
    margin-right: -100px;
    border-left: #D1D2D4 solid 3px;
    padding-left: 20px;
    width: 500px;
    margin-left: 20px;
}

.blackboard .image-left{
    float: left;
    margin-left: -100px;
    border-right: #D1D2D4 solid 3px;
    padding-right: 20px;
    width: 600px;
    margin-right: 20px;
}



/* LISTS */

.blackboard ul, .blackboard ol{
    font-size: 1em;
    font-family: "Open Sans", "PT Sans", sans-serif;
    line-height: 1.6em;
}


/* notes and clarifications */

article footer.footnote{
    font-style: italic;
    margin: 0 auto;
    background: none;
    color: inherit;
    width: 100%;
    height: 100%;
}



/* Article Meta */

article header .headline h1{
    font-weight: 700;
    font-size: 4em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
article header .headline h2 {
    font-weight: 100;
    font-size: 1.8em;
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    }

article header .headline h3{
    font-size: 1.2em;
    font-weight: 300;
}

article header.article-meta{
    text-align: center;
    display: block;
    margin-bottom: 30px;
    padding-top: 200px;
    padding-bottom: 30px;
}
article header.article-meta a{
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
}


article h2.author
article section{
    border-top: 1px solid black;
    padding-top: 5px;
}

article section h3{
    padding-bottom: 5px;
}


/* related articles, if any */


footer.related-articles{
    clear: both;
    border-top: 3px solid #D1D2D4;
    background: none;
    color: rgb(34, 34, 34);
    width: 90%;
    max-width: 900px;
    height: fit-content;
    margin: 20px auto;
}

.related-articles-row{
    display: flex;
    flex-flow: row wrap;
    background: none;
    color: rgb(69, 69, 69);
    height: 100%;
    width: 100%;
}

.related-article-item{
    color: rgb(68, 68, 68);
    text-align: center;
    margin: 5px;
    width: 40%;
    padding: 20px;
    flex: 1;
}

.related-article-item:hover{
    text-decoration: underline;
}

.related-article-item+.related-article-item{
    border-left: 1px solid rgb(74, 74, 74);
}

.related-article-item h1, .related-article-item h2, .related-article-item p{
    font-family: "Open Sans", sans-serif;
    margin: 5px auto;
}
.related-article-item h1{
    margin: 0;
    font-weight: 700;
    font-size: 1.1em;
}
.related-article-item h2.deck{
    font-weight: 200;
    font-size: 1em;
    width: 80%;
    margin: 10px auto;
}
.related-article-item p.byline{
    font-weight: 400;
}
.related-article-item .origin{
    font-size: 0.85em;
    padding-top: 5px;
}

.related-total-2 .related-article-item{
    width: 50%;
    min-width: 300px;
    flex-grow: 1;
}

@media screen and (max-width: 750px){
    .related-articles{
        text-align: center;
    }
    .related-articles-row{
        flex-flow: wrap column;
        align-items: center;
    }
    .related-total-2 .related-article-item{
        width: 100%;
        min-width: 0;
        min-height: 0;
        height: 100%;
    }
    .related-article-item h1{
        font-size: 1.5em;
    }
    .related-article-item+.related-article-item{
        border-left: none;
        border-top: 1px solid rgb(74, 74, 74);
    }
}



/* footer with my name in it */

.nbn-footer{
    clear: both;
    margin-top: 20px;
    font-size: 0.9em;
}

.nbn-footer.purple{
    background-color: rgb(80,31,132);
}

.nbn-footer .footer-block{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    vertical-align: middle;
}

@media print{
    .nbn-footer{
        font-size: 0.7em;
        color: rgb(136, 136, 136);
    }
}

.nbn-footer .footer-item{
    margin: auto 0;
    flex-grow: 1;
    width: 30%;
    min-width: 200px;
}

.nbn-footer .footer-item, .nbn-footer .footer-item *{
    color: white;
}

.nbn-footer p{
    display: block;
    margin-bottom: 0.6em;
}
.nbn-footer a{
    text-decoration: underline;
}

.nbn-footer .producer {
    font-weight: bold;
    text-decoration: none;
}
.nbn-footer .producer:hover{
    text-decoration: underline;
}


.nbn-footer .footer-left{
    text-align: left;
    flex-grow: 3;
}

.nbn-footer .footer-center{
    text-align: center;
    width: 5%;
}

.nbn-footer .footer-right{
    text-align: right;
    flex-grow: 3;
}


@media screen and (max-width: 1200px){
    .nbn-footer .footer-block{
        flex-flow: column;
        vertical-align: middle;
    }
    .nbn-footer .footer-item{
        width: 100%;
        text-align: center;
        min-height: 30px;
        margin: 0;
        padding: 0;
    }
    .nbn-footer .footer-item.footer-links{
        font-size: 1em;
    }
}

.nbn-footer .footer-links a{
    color: white;
    font-weight: bold;
    /*display: block;*/
    width: 100%;
    height: 100%;
    margin: 10px 5px;
}

@media print{
    .nbn-footer .footer-links{
        display: none;
    }
}

/*--CURRENT NAVBAR--*/

.snip1189 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom-style: double;
    border-color: #8376B6;
    border-top-style: double;
    padding-top: 10px;
    padding-bottom: 10px;
}
.snip1189 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1189 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}
.snip1189 a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  text-decoration: none;
}
.snip1189 a:before,
.snip1189 a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.snip1189 a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #8376B6;
  border-top: 3px solid #8376B6;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.snip1189 a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #8376B6;
  border-bottom: 3px solid #8376B6;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.snip1189 a:hover,
.snip1189 .current a {
  color: black;
}
.snip1189 a:hover:before,
.snip1189 .current a:before,
.snip1189 a:hover:after,
.snip1189 .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

li.current {
    font-size: 1.5em;
}

/* dealing with the fact that sometimes the footer needs more white space to just breattthhhheeeee */

footer.nbn-footer{
    margin-top: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
}
